* {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
}
body {
  background: #222;
}
.container .page {
  width: 90%;
  max-width: 495px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
}

.topnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  padding: 6px 6px;
  border-radius: 25px;
  margin-right: 15px;
  font-size: 18px;
}

.search {
width: 100px;
}

h1 {
  font-size: 40px;
  text-align: center;
}
.sunnyicon {
  text-align: center;
  align-items: center;
}
h2 {
  font-size: 35px;
  text-align: center;
}
h2 .units {
  position: relative;
  font-size: 19px;
  top: -16px;
  font-size: 15px;
  text-emphasis: none;
}


ul {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  list-style-type: none;
  text-emphasis: none;
}
.container text center {
  font-size: 29px;
}
p.codeBy {
  text-align: center;
}
.weather-forecast {
   margin-top: 20px;
   text-align: center;
   
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-max {
  opacity: 0.6
}
.weather-forecast-temperatures {
  font-size: 13px;
}
